:root {
    --default-padding: 0 30px;
    --text-white-color: #e2e2e2;
    --backdrop-filter: grayscale(40%);
    --card-background: #0000007c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/images/background_image.jpg");
    background-size: cover;
}

/* ------- HEADER ------- */

header {
    min-height: 10svh;
    padding: var(--default-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: var(--backdrop-filter);
}

header > ul {
    display: flex;
    gap: 30px;
}

.web-browsing {
    list-style: none;
}

/* ------- HOME ------- */

#home-container {
    min-height: 90svh;
    padding: var(--default-padding);
    color: var(--text-white-color);
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
    align-items: center;
    gap: 8px;
    place-content: center;
    backdrop-filter: var(--backdrop-filter);
}

/* ------- MENU ------- */

#menu-container {
    padding: var(--default-padding);
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    place-content: center;
}

.meal-card {
    width: 300px;
    background-color: var(--card-background);
    color: var(--text-white-color);
    padding: 10px;
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    justify-items: center;
    gap: 8px;
}

.meal-image {
    min-width: 280px;
    height: 187px;
}

.meal-description {
    font-size: 0.7rem;
}